.btn-lg{
    @include mQ ($lg){
        padding: 20px;
        border-radius: 40px!important;
    }
}
.btn{
    border: none!important;
}

.btn-info{
    background-color: $palePink;
    color: white;
    transition: 0.5s;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: $mustard;
        color: black;
    }
    @include mQ ($xxl){
        width: 4rem;
        height: 4rem;
        i{
            font-size: 3rem;
        }
    }
}
.btn-warning{
    background: $mustard;
    color: black;
    font-family: $rock;
    border-radius: 20px;
    margin: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &:hover{
        background: $palePink;
        margin: 2px;
    }
    i{
        margin: 0 2px;
        font-size: 1.5rem;
    }
}
.btn-danger{
    background: $ruby;
    color: white;
    font-family: $rock;
    border-radius: 20px;
    margin: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &:hover{
        background: $palePink;
        margin: 2px;
    }
}