img.cast_image{
    width: 49%;
    margin: 2px 0;
    height: auto;
    display: inline-block;
    border-radius: 15px;
    @include mQ ($md){
        width: 25%;
        margin: 0 4px;
    }
}
.findout-divs, .press{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding: 20px;
    .img-box{
        width: Calc(100% + 40px);
        transform: translateX(-20px);
        max-height: 40vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mQ ($md){
            height: 25vh;
        }
    }
}
#reviews{
    max-height: 60vh;
    overflow-y: scroll;
    @include mQ ($md){
        max-height: 50vh;
    }
}
#single-review{
    i{
        color: $mustard;
    }
    hr{
        border-bottom: 1px solid white;
        opacity: 1;
        height: 10px;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-top: none;

    }
}

